body{
    margin: 0;
    padding: 0;
    background-color: #1a1a2e;
    font-family: Arial, sans-serif;
    
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 125%;
    background: radial-gradient(circle, rgba(50, 50, 70, 0.2), rgba(0, 0, 0, 0.8));
    z-index: -1;
}

header {
    background-color: #2f3136;
    box-shadow: 0px 3px 10px #36393f;
    color: #fff;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 1rem 6rem;
    align-items: center;
    justify-content: center;
    max-width: 100%; /* Limita a largura */
    height: 6rem;
    flex-direction: column; /* Alinha os elementos verticalmente */

}
.logo-img {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 0;
    align-items: center;
    width: 150px; /* Defina a largura que preferir */
    height: auto; /* Ajusta a altura proporcionalmente */
  }

h1 {
    margin: 0 auto;
    font-size: 24pt;
    letter-spacing: 2px;
    position: relative;
    cursor: default;
    text-align: center;
}

h1::after{
    position: absolute;
    content: '';
    bottom: -12px;
    left: 0%;
    background-color: #b0ff57;
    width: 100%;
    height: 3px;
    transform: scaleX(1.5);    
    border-radius: 5px;
    transition: transform 0.2s ease-in ;
}

#all{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

*{
    box-sizing: border-box;
}

input:not(#lembrar):not(#cancelar){
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 100%;
    font-size: 14pt;
}
label{
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
}

#exception{
    letter-spacing: 1px;
}

#nome, #senha, .input-registro{
    border-radius: 10px;
    border: none;
    border-left: solid 10px #b0ff57;
}
input:focus{
    outline: none;
}

#btn{
    border-radius: 3px;
    border: none;
    background-color: #b0ff57;
    color: #2f3136;
    cursor: pointer;
    transition: transform 0.2s;
    letter-spacing: 1.5px;
    margin-top: 10px;
}

#btn:active{
    background-color: #b0ff57 ;
}

#btn:hover{
    transform: scale(1.05);
}


#login-background{
    background-color: #2f3640;
    padding: 40px;
    border-radius: 12px;
    box-shadow: rgba(176, 255, 87, 0.3);
    transform: scale(1.1);
    color: #fff;
}


legend:hover::after{
    transform: scaleX(3);
}

#registro-bg{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    filter: blur();
    display: none;
}


#registro-bg fieldset{
    padding: 30px;
    background-color: #2f3136;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.377) 3px 3px 5px;
}

.btnn{
    padding: 8px;
    font-size: 13pt;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #4687db;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

.btnn:hover{
    transform: scale(1.05);
}

#cancelar{
    background-color: rgb(221, 22, 22);
}

#btns{
    display: flex;
    justify-content: space-between;
}

#registrar{
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    letter-spacing: 1.5px;
}
#registrar:hover{
    transform: translateY(-2px)
}

@media (max-width: 730px) {
    header {
        padding: 2rem;
    }

    h1 {
        font-size: 20pt; /* Reduz o tamanho do texto para caber melhor em telas menores */
        bottom: -20px;
    }
    h1::after {
        width: 89%;

    }

    #all {
        flex-direction: column;
        padding: 10px; /* Reduz espaço lateral para caber em telas pequenas */
        
    }

    #login-background {
        padding: 20px;
        transform: scale(1); /* Remove o aumento de escala para caber melhor */
    }

    #btns {
        flex-direction: column;
        gap: 10px;
    }

    .btnn {
        width: 100%;
    }
}


